In [1]:
import sys
import os
sys.path.append(os.path.abspath(r'E:\Codes\IndoxMiner'))

In [2]:

from indoxMiner import (
    ExtractorSchema,
    Field,
    FieldType,
    ValidationRule,
    OutputFormat,
    Extractor,
    ProcessingConfig,
    DocumentProcessor,
    Schema,
    OpenAi,
    IndoxApi
)

In [3]:
# Set your OpenAI API key
import os
from dotenv import load_dotenv

load_dotenv()
INDOX_API_KEY = os.environ['INDOX_API_KEY']
OPENAI_API_KEY = os.environ['OPENAI_API_KEY']

In [4]:
openai_extractor = OpenAi(api_key=OPENAI_API_KEY, model="gpt-4o-mini")

In [5]:
# # Initialize processor with config
# config = ProcessingConfig(
#     ocr_for_images=True,
#     ocr_model='paddle'  # or 'tesseract'
# )

# # Create processor instance
# processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# # Process documents
# results = processor.process(config)

In [6]:
# results

In [ ]:
"hi_res"
passport_processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# Process the document
doc_passport = passport_processor.process()
doc_passport

In [7]:
"auto"
passport_processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# Process the document
doc_passport = passport_processor.process()
doc_passport

{'passport2.jpg': [Document(page_content='eed STATES OF 160 * PASSPORT CARD x jas ality. *** Passport Card nos See <€03005988 “© Surname ee EXEMPLAR seed Names HAPPY = Sex Date of Birth: M1 JAN 1981 Place of Birth NEWYORK, U.S.A. a Expires On. “at SNOV 2009.29 NOV2 D BTATES DEPARTMENT OF STARE? he', metadata={'filename': 'passport2.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport2.jpg'})],
 'passport1.jpg': [Document(page_content='PASPO PASSEPORT athe! Type jos hee Orca de FEtwt ne 1 # cenettour REG,,.. CHERUBIN Nea) Priam NIRKA Maun bs reve habongate HAITIENNE Dat bs 41) Date Oe mpistonce 6 MAI 1962 fi casper gasen,/ Seer FEMININ Cat pseps > ttt Dots emission 17 DECEMBRE, 1992 fH paepo » tn Dots Sespirotica 16 DECEMBRE 1997 HTI SPECIMEN AYITI? HAITI PASPD elerean FASSERIRT No 920000018 Kole fit Lee ee reccernes PORT-AU-PRINCE : hi SIYATI MET PASP0 & MSISNATURE DU TITULAIRE 920000018', metadata={'filename': 'passport1.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport1.jpg'})]}

In [6]:
indox_api_extractor = IndoxApi(api_key=INDOX_API_KEY)

In [7]:
extractor = Extractor(llm=indox_api_extractor, schema=Schema.Passport)

In [ ]:
"hi_res"

result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Name,Date of Birth,Nationality,Date of Issue,Date of Expiry
0,03005988,HAPPY,1981-01-01,U.S.A.,None,2009-11-29
1,920000018,None,1962-05-06,HAITI,1992-12-17,1997-12-16

In [9]:
"auto"
result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Name,Date of Birth,Nationality,Date of Issue,Date of Expiry
0,03005988,HAPPY,1981-01-01,U.S.A.,None,2009-11-29
1,920000018,None,1962-05-06,HAITI,1992-12-17,1997-12-16

In [9]:
import os

folder_path = "data/passport_dataset_jpg"
images = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.jpg')]

test_dataset=images[:5]

In [17]:
passport_processor = DocumentProcessor(test_dataset)

# Process the document
doc_passport = passport_processor.process()
doc_passport

{'00a737.jpg': [Document(page_content='P<BRASILVA<<JOAO<JOSE<<<<<<<< 6666666666 666<6¢ AAQOOOOO<OBRA7O009068F 5012147<<<<<<<<<<<<<<00', metadata={'filename': '00a737.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\00a737.jpg'})],
 '010f92.jpg': [Document(page_content="== aR. ota | SAGHAS/TYPE TYPE TIR/COUNTRY/PAYS P IRL 1 SLOMONE SURNAME 1 O'SULLIVAN 9 ODARAS AUTHORITY JAUTORETE Olfig na bPasanna, Baile Atha Cliath 13 MFO/SEP 2 Passport Office Dublin en P<IRLOSULLIVAN<<LAUREN<<<<<<<<<<<<<<<<<<<<<< X073262<<SIRL8805049F1409138<<<<<<<<<<<<<<<c4", metadata={'filename': '010f92.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\010f92.jpg'})],
 '004fcb.jpg': [Document(page_content='MII Z st PASSPORT Toh, 2 = STATE OF ISRAEL 7 nD State P/T TAL (TALMON) DANA “ISRAELI Span 02/03/1970 FI) : (05/09/2001 “JERUSALEM neten 9oD ISR F | Taw nw Passport No. / 271 "UD 0000000 (ade) dv “ay P<ISRTAL<TALMON<<DANA<<<<<<<<<<<<<<<<<<<<<<< 0000000<<01SR7003022F06090453<1053698<2<<<34 +', metadata={'filename': '004fcb.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\004fcb.jpg'})],
 '005253.jpg': [Document(page_content='REPUBLIQUE DU CONGO ie GS EE Ge ee Passeport de service Type (3) Code pays (2) PS coG Nom (4) GOSSINI Prénoms (5) ELLINE MARYSE Date de naissance (6) 31 OCT/OCT 79 Natonalité (8) CONGOLAISE Fonction / qualité (10) PISCICULTRICE Date ¢\'établissement (11) 29 AQOT/ AUG 12 Date dexpiration 28 AOGT/ AUG 17 IN" Passeport (3) SA0009816 Lieu de naissance (7) BRAZZAVILLE Sexe (9) F eu ¢’émission (13) BRAZZAVILLE PSCOGGOSSINI<<ELLINE<MARYSE<<<<<<<<<<<<<<<<< SA00098160C0G7910317F 1708288<<<<<<<<<<<<<<02', metadata={'filename': '005253.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\005253.jpg'})],
 '014ee4.jpg': [Document(page_content='ART eng / Type Pp WRT / REPUBLIC OF INDIA reat / INDIAN “IND i es = 2 6 3 2 9 8 3 8 SGT / Surname INGALE fear aa APT / Given Namets AYESHA BHARAT warinfts / Date of Beth fear 15/03/1999 wat Farr / Place of Birth PUNE MAHARASHTRA ard axa a Fen / Place of sue PUNE arf 24 & PYRi/ Date of tssue 29/07/2021 ra Haft Br ferfts / Date of Expiry 28/07/2031', metadata={'filename': '014ee4.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\014ee4.jpg'})]}

In [18]:
result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Given Names,Surname,Date of Birth,Place of Birth,Nationality,Gender,Date of Issue,Date of Expiry,Place of Issue,MRZ
0,666666666,JOAO JOSE,BRASILVA,None,None,None,M,None,None,None,P<BRASILVA<<JOAO<JOSE<<<<<<<<666666666666<6¢AA...
1,X073262,LAUREN,O'SULLIVAN,1988-05-04,Dublin,IRL,F,2014-09-13,None,Passport Office Dublin,P<IRLOSULLIVAN<<LAUREN<<<<<<<<<<<<<<<<<<<<<<
2,UD000000,DANA,TALMON,1970-03-02,JERUSALEM,ISRAELI,F,2001-09-05,None,TALMON,P<ISRTAL<TALMON<<DANA<<<<<<<<<<<<<<<<<<<<<<<00...
3,SA0009816,ELLINE MARYSE,GOSSINI,1979-10-31,BRAZZAVILLE,CONGOLAISE,F,2012-08-29,2017-08-28,BRAZZAVILLE,PSCOGGOSSINI<<ELLINE<MARYSE<<<<<<<<<<<<<<<<<SA...
4,None,AYESHA BHARAT,INGALE,1999-03-15,PUNE MAHARASHTRA,INDIA,None,2021-07-29,2031-07-28,PUNE,None

In [ ]:
# Initialize processor with config
config = ProcessingConfig(
    ocr_for_images=True,
    ocr_model='easyocr'  # or 'tesseract' or 'paddle'
)

# Create processor instance
processor = DocumentProcessor(images[:5])

# Process documents
data = processor.process(config)

[2024-11-03 18:07:34,113] [ WARNING] easyocr.py:80 - Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.

In [14]:
doc_passport_paddle

{'00a737.jpg': [Document(page_content='FEDERAUVAPOERASA _ M4n7-\' , BAW \'6 PASSSFONTE RAEA "35*4 Ta43on" T4i~77 3"  P<BRASILVA<<Joao<Jose<<<<<<<<<K<<<<<<<<<<<<< Aaoooooo<OBRA7009068F5012167<<<<<<<<<<<<<<00 SPECIME', metadata={'filename': '00a737.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\00a737.jpg'})],
 '005253.jpg': [Document(page_content='REPUBLIQUE DU CONGO E# @8 E1 Bz %1 Typt (J) Codr 05s (2) K Posscpott (J) Pesepoce PS cog SA0OO9816 Km GOSSINI prtnoms (5) ELLINE MARYSE Ojie 0 Qimrce (6) Lru &r musc- (7) 31 octioct 79 BRAZZAVILLE Msronjiitc /8) Scur (9} CONGOLAISE Foncton / qttt (10) PISCICULTRICE Oj dctabtammet (1[) Lu demislon (1]) 29 Aoot / Aug 12 BRAZZAVILLE Ojrs j expitjoon (12) 28 Aoot/AUG 17 Pscoggoss INI<<ELLINE<MAR YSE< < < <<< < <<< < < < < < < < SA00098160c0g7910317F 1708288< < < < = < < <<02', metadata={'filename': '005253.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\005253.jpg'})],
 '004fcb.jpg': [Document(page_content="?2SSpofit 16377 1:PaL J4'7w' FW' P / T ISR Ooooooo - - TAL (TALMON) (p1nbu) Ju DANA QT ISRAELI I'SN7V> 02/03/1970 3-1053698-2 F / ) ISRAEL SNTW) L : t 05/09/2001 04/09/2006 {3 20 JERUSALEM 0x5u17) P<ISRTAL<TALMON<<DANA<<<<<<<<<<<<<<<<<<<<<<< 0000000<<0ISR7003022F06090453<1053698<2<<<34", metadata={'filename': '004fcb.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\004fcb.jpg'})],
 '010f92.jpg': [Document(page_content="Pas Passport Passepont Elrellrelandllrlande MomaiiTMiTTtt To /coulney/CatI Gs Uidulid/64ijcort Do/00. 1ibicodi P IRL X073262 s(owm /{uomaMDom O'SULLIVAN }tuimn (Miacma) ionnami(N /Pn( LAUREN 1 Misonnar #amiomiiitt(Mateom Da14 'Dat 0b Dietm Di WaiaRcT EIREANNACH/IRIS 4 BEL IMAY 1988 $ Gnim'uX'n# ~oaf Ghotimi'FLA[( Birtmfihu Oi MAJi (t F BAILE Az CUATH; QUBLIN 1 0414 {uhA AN7 @ [SurDAT cg 0' [100i04i0 0 (Ipimatiom 13 MFoISEP 204 /SEP 2014 UOjA} auimuritt ^U f Obi( 10 simiu'iicmauni Uoratum Oxfig na bpjronn), Bik Afna Chotn PassportOibfa Jsmn 'Slian P< IRLOSULL IVAN<<LAUREN<<<<<<<<<<<<<<<<<<<<<< X073262<<5IRL8805049F 1409138< < < < < < < < < < <<<<<4", metadata={'filename': '010f92.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\010f92.jpg'})],
 '014ee4.jpg': [Document(page_content='T / REPUBLIC OF INDIA Uf / Tsro Bo Codo <-um Nallnality TTYZ =, / Pamspo N IND nrau 1 INDIAN 26329030 0FAF / Sumntm INGALE Ba 5 #ilGMamatu) Ayesha Bharat JARR/0dud 841 /S 15/03/1999 F 16/nde puNE ,wahARASHTRA menmindb n4 J?5 PUNE R R de Jele #-Tesar 29/07/2021 28/07 /2031', metadata={'filename': '014ee4.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset_jpg\\014ee4.jpg'})]}

In [16]:
result = extractor.extract(doc_passport_paddle)
df = extractor.to_dataframe(result)
df

,Passport Number,Given Names,Surname,Date of Birth,Place of Birth,Nationality,Gender,Date of Issue,Date of Expiry,Place of Issue,MRZ
0,OBRA700,Joao Jose,BRASILVA,None,None,None,None,None,None,None,FEDERAUVAPOERASA
1,SA0009816,ELLINE MARYSE,GOSSINI,1979-10-31,BRAZZAVILLE,CONGOLAISE,None,2012-08-29,2017-08-28,BRAZZAVILLE,INI<<ELLINE<MARYSE<<<<<<<<<<<<<<<<<<<<<<<<<<<<...
2,3-105369,DANA,TALMON,1970-03-02,JERUSALEM ISRAEL,ISRAELI,F,2001-09-05,2006-09-04,JERUSALEM,P<ISRTAL<TALMON<<DANA<<<<<<<<<<<<<<<<<<<<<<<00...
3,X073262,LAUREN,O'SULLIVAN,1988-05-14,"DUBLIN, IRELAND",IRL,F,2014-09-04,None,None,IRLOSULLIVAN<<LAUREN<<<<<<<<<<<<<<<<<<<<<<X073...
4,26329030,Ayesha Bharat,JARR,1999-03-15,"PUNE, MAHARASHTRA",INDIAN,F,2021-07-29,2031-07-28,PUNE,None