In [1]:
import sys
import os
sys.path.append(os.path.abspath(r'E:\Codes\IndoxMiner'))

In [2]:

from indoxMiner import (
    ExtractorSchema,
    Field,
    FieldType,
    ValidationRule,
    OutputFormat,
    Extractor,
    ProcessingConfig,
    DocumentProcessor,
    Schema,
    OpenAi
)

In [3]:
# Set your OpenAI API key
import os
from dotenv import load_dotenv

load_dotenv()
INDOX_API_KEY = os.environ['INDOX_API_KEY']
OPENAI_API_KEY = os.environ['OPENAI_API_KEY']

In [4]:
openai_extractor = OpenAi(api_key=OPENAI_API_KEY, model="gpt-4o-mini")

In [5]:
# # Initialize processor with config
# config = ProcessingConfig(
#     ocr_for_images=True,
#     ocr_model='paddle'  # or 'tesseract'
# )

# # Create processor instance
# processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# # Process documents
# results = processor.process(config)

In [6]:
# results

In [ ]:
"hi_res"
passport_processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# Process the document
doc_passport = passport_processor.process()
doc_passport

{'passport2.jpg': [Document(page_content='eed STATES OF 160 * PASSPORT CARD x jas ality. *** Passport Card nos See <€03005988 “© Surname ee EXEMPLAR seed Names HAPPY = Sex Date of Birth: M1 JAN 1981 Place of Birth NEWYORK, U.S.A. a Expires On. “at SNOV 2009.29 NOV2 D BTATES DEPARTMENT OF STARE? he', metadata={'filename': 'passport2.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport2.jpg'})],
 'passport1.jpg': [Document(page_content='PASPO PASSEPORT athe! Type jos hee Orca de FEtwt ne 1 # cenettour REG,,.. CHERUBIN Nea) Priam NIRKA Maun bs reve habongate HAITIENNE Dat bs 41) Date Oe mpistonce 6 MAI 1962 fi casper gasen,/ Seer FEMININ Cat pseps > ttt Dots emission 17 DECEMBRE, 1992 fH paepo » tn Dots Sespirotica 16 DECEMBRE 1997 HTI SPECIMEN AYITI? HAITI PASPD elerean FASSERIRT No 920000018 Kole fit Lee ee reccernes PORT-AU-PRINCE : hi SIYATI MET PASP0 & MSISNATURE DU TITULAIRE 920000018', metadata={'filename': 'passport1.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport1.jpg'})]}

In [7]:
"auto"
passport_processor = DocumentProcessor(["data/passport1.jpg", "data/passport2.jpg"])

# Process the document
doc_passport = passport_processor.process()
doc_passport

{'passport2.jpg': [Document(page_content='eed STATES OF 160 * PASSPORT CARD x jas ality. *** Passport Card nos See <€03005988 “© Surname ee EXEMPLAR seed Names HAPPY = Sex Date of Birth: M1 JAN 1981 Place of Birth NEWYORK, U.S.A. a Expires On. “at SNOV 2009.29 NOV2 D BTATES DEPARTMENT OF STARE? he', metadata={'filename': 'passport2.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport2.jpg'})],
 'passport1.jpg': [Document(page_content='PASPO PASSEPORT athe! Type jos hee Orca de FEtwt ne 1 # cenettour REG,,.. CHERUBIN Nea) Priam NIRKA Maun bs reve habongate HAITIENNE Dat bs 41) Date Oe mpistonce 6 MAI 1962 fi casper gasen,/ Seer FEMININ Cat pseps > ttt Dots emission 17 DECEMBRE, 1992 fH paepo » tn Dots Sespirotica 16 DECEMBRE 1997 HTI SPECIMEN AYITI? HAITI PASPD elerean FASSERIRT No 920000018 Kole fit Lee ee reccernes PORT-AU-PRINCE : hi SIYATI MET PASP0 & MSISNATURE DU TITULAIRE 920000018', metadata={'filename': 'passport1.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport1.jpg'})]}

In [9]:
extractor = Extractor(llm=openai_extractor, schema=Schema.Passport)

In [ ]:
"hi_res"

result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Name,Date of Birth,Nationality,Date of Issue,Date of Expiry
0,03005988,HAPPY,1981-01-01,U.S.A.,None,2009-11-29
1,920000018,None,1962-05-06,HAITI,1992-12-17,1997-12-16

In [9]:
"auto"
result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Name,Date of Birth,Nationality,Date of Issue,Date of Expiry
0,03005988,HAPPY,1981-01-01,U.S.A.,None,2009-11-29
1,920000018,None,1962-05-06,HAITI,1992-12-17,1997-12-16

In [12]:
import os

folder_path = "data/passport_dataset"
# Get full paths by joining folder path with filenames
images = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.jpg')]

# Now images will contain full paths like:
# 'data/passport_dataset/004fcb.jpg', 'data/passport_dataset/005253.jpg', etc.

# To see just the first 5:
test_dataset=images[:5]

In [13]:
passport_processor = DocumentProcessor(test_dataset)

# Process the document
doc_passport = passport_processor.process()
doc_passport

{'00a737.jpg': [Document(page_content='P<BRASILVA<<JOAO<JOSE<<<<<<<< 6666666666 666<6¢ AAQOOOOO<OBRA7O009068F 5012147<<<<<<<<<<<<<<00', metadata={'filename': '00a737.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset\\00a737.jpg'})],
 '010f92.jpg': [Document(page_content="== aR. ota | SAGHAS/TYPE TYPE TIR/COUNTRY/PAYS P IRL 1 SLOMONE SURNAME 1 O'SULLIVAN 9 ODARAS AUTHORITY JAUTORETE Olfig na bPasanna, Baile Atha Cliath 13 MFO/SEP 2 Passport Office Dublin en P<IRLOSULLIVAN<<LAUREN<<<<<<<<<<<<<<<<<<<<<< X073262<<SIRL8805049F1409138<<<<<<<<<<<<<<<c4", metadata={'filename': '010f92.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset\\010f92.jpg'})],
 '004fcb.jpg': [Document(page_content='MII Z st PASSPORT Toh, 2 = STATE OF ISRAEL 7 nD State P/T TAL (TALMON) DANA “ISRAELI Span 02/03/1970 FI) : (05/09/2001 “JERUSALEM neten 9oD ISR F | Taw nw Passport No. / 271 "UD 0000000 (ade) dv “ay P<ISRTAL<TALMON<<DANA<<<<<<<<<<<<<<<<<<<<<<< 0000000<<01SR7003022F06090453<1053698<2<<<34 +', metadata={'filename': '004fcb.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset\\004fcb.jpg'})],
 '005253.jpg': [Document(page_content='REPUBLIQUE DU CONGO ie GS EE Ge ee Passeport de service Type (3) Code pays (2) PS coG Nom (4) GOSSINI Prénoms (5) ELLINE MARYSE Date de naissance (6) 31 OCT/OCT 79 Natonalité (8) CONGOLAISE Fonction / qualité (10) PISCICULTRICE Date ¢\'établissement (11) 29 AQOT/ AUG 12 Date dexpiration 28 AOGT/ AUG 17 IN" Passeport (3) SA0009816 Lieu de naissance (7) BRAZZAVILLE Sexe (9) F eu ¢’émission (13) BRAZZAVILLE PSCOGGOSSINI<<ELLINE<MARYSE<<<<<<<<<<<<<<<<< SA00098160C0G7910317F 1708288<<<<<<<<<<<<<<02', metadata={'filename': '005253.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset\\005253.jpg'})],
 '014ee4.jpg': [Document(page_content='ART eng / Type Pp WRT / REPUBLIC OF INDIA reat / INDIAN “IND i es = 2 6 3 2 9 8 3 8 SGT / Surname INGALE fear aa APT / Given Namets AYESHA BHARAT warinfts / Date of Beth fear 15/03/1999 wat Farr / Place of Birth PUNE MAHARASHTRA ard axa a Fen / Place of sue PUNE arf 24 & PYRi/ Date of tssue 29/07/2021 ra Haft Br ferfts / Date of Expiry 28/07/2031', metadata={'filename': '014ee4.jpg', 'filetype': 'image/jpeg', 'page_number': 1, 'source': 'data/passport_dataset\\014ee4.jpg'})]}

In [14]:
result = extractor.extract(doc_passport)
df = extractor.to_dataframe(result)
df

,Passport Number,Name,Date of Birth,Nationality,Date of Issue,Date of Expiry
0,666666666,JOAO JOSE,None,BRASIL,None,None
1,X073262,O'SULLIVAN LAUREN,1988-05-04,IRL,2014-09-13,None
2,UD000000,DANA TALMON,1970-03-02,ISRAEL,2001-09-05,None
3,SA0009816,GOSSINI ELLINE MARYSE,1979-10-31,CONGOLAISE,2012-08-29,2017-08-28
4,26329838,AYESHA BHARAT,1999-03-15,INDIA,2021-07-29,2031-07-28

In [19]:
# Initialize processor with config
config = ProcessingConfig(
    ocr_for_images=True,
    ocr_model='easyocr'  # or 'tesseract'
)

# Create processor instance
processor = DocumentProcessor(images[:5])

# Process documents
doc_passport_paddle = processor.process(config)

[2024-11-03 12:50:18,269] [ WARNING] easyocr.py:80 - Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.
[2024-11-03 12:50:18,281] [ WARNING] easyocr.py:251 - Downloading detection model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% Complete

[2024-11-03 12:51:00,495] [ WARNING] easyocr.py:176 - Downloading recognition model, please wait. This may take several minutes depending upon your network connection.

Progress: |██████████████████████████████████████████████████| 100.0% CompleteFailed to process data/passport_dataset\00a737.jpg: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Failed to process data/passport_dataset\004fcb.jpg: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Failed to process data/passport_dataset\005253.jpg: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Failed to process data/passport_dataset\010f92.jpg: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Failed to process data/passport_dataset\014ee4.jpg: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
result = extractor.extract(doc_passport_paddle)
df = extractor.to_dataframe(result)
df

Empty DataFrame
Columns: [Passport Number, Name, Date of Birth, Nationality, Date of Issue, Date of Expiry]
Index: []